pyftpdlib
pysendfile
circus
gearman
Django
sh
fs
MySQL-python
djangorestframework
markdown
pyyaml
django-filter
requests

# For hosting:
meinheld
chaussette

# For Travis CI:
pep8
pyflakes

# For coveralls.io:
coverage
coveralls